@charset "utf-8";
/* CSS Document */
.pc{display: inherit;}
.sp{display: none;}
@media screen and ( max-width:767px ){
	.pc{display: none;}
	.sp{display: inherit;}
}
html{font-size: 62.5%;}
body{
	font-size:1.4em;
	font-style: normal;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    color: #292929;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
@media (min-width: 768px) {
    body {
        min-width: 1024px;
    }
    
}
@media only screen and (max-width: 767px){
	html{font-size: calc( 1000vw /430px  );}
}

#guest_room_guidance{
    margin:0 auto;
    width:114rem;
}
.guest_room .header{
    background-image: url(../image/header_guest_room.png);
}
.guest_room .title{
    margin-top:12rem;
}
.guest_room_guidance_inner{
    width:100%;
    margin:0 auto;
}
.guest_room_guidance_inner .title p:first-child{
    margin-bottom:1.2rem;
}
.guest_room_mv{
    width:114rem;
    margin:0 auto 5.6rem;;
}
.guest_room_mv img{
    width:100%;
}
.text_center{
    text-align: center;
}
.text p:first-child{
    line-height: 4rem;
    letter-spacing: 0.84rem;
    margin-bottom:4.6rem;

}
.text p:last-child{
    line-height: 2.6rem;
    letter-spacing: 0.18rem;
    padding-bottom:5.2rem;
}
.guest_room_guidance_inner .menu{
    width:100%;
    margin-top:4.2rem;
    justify-content: space-between;
    margin:4.2rem auto 0;
    padding-bottom:15.2rem;
    min-width:0;
}
.guest_room_guidance_inner .menu .flex{
    justify-content: center;
    width:100%;
}
.guest_room_guidance_inner .menu p{
    margin:0 4.7rem 0;
}
.guest_room_guidance_inner .menu p span{
    line-height: 2.6rem;
}
.guest_room_guidance_inner .menu .border-l,
.guest_room_guidance_inner .menu .border-r{
    position:relative;
    top:4rem;
    height:2rem;
}
.guest_room_guidance_inner .name p:first-child,
.guest_room_guidance_inner .name p:last-child{
    text-indent:0;
}
.guest_room_guidance_inner .name p:last-child{
    margin-bottom:3.1rem;
}
.guest_room_guidance_inner .img{
    width:90.8rem;
}
.guest_room_guidance_inner .img img{
    width:50%;
    position:absolute;
    height: 44rem;
    right: 0;
}
.guest_room .guest_room_guidance_inner .title{
    margin-top:0;
}
.mc_img_2.room{
    width:100%;
}
.mc_2 .mc_text.room{
    margin-right:76rem;
    top:-3rem
}
.mc_2.room{
    margin-top: 0;
}
.guest_room section{
    padding-top:15.5rem;
}


.view.room{
    width:102.9rem;
    
    margin:12.4rem auto 0;
}
.view.room .flex{
    justify-content: space-between;
}
.view.room img{
    width:32rem;
}

.indoor_view{
    margin-top:8.9rem;
    text-align: center;
    margin-bottom:25.5rem;
}
#introduction3.room{
    padding-bottom:17.6rem;
}
.mc_text.room .border_div{
    top:-0.5rem;
}