@charset "utf-8";
/* CSS Document */
.pc{display: inherit;}
.sp{display: none;}
@media screen and ( max-width:767px ){
	.pc{display: none;}
	.sp{display: inherit;}
}
html{font-size: 62.5%;}
body{
	font-size:1.6em;
	font-style: normal;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    color: #292929
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
@media (min-width: 768px) {
    body {
        min-width: 1024px;
    }
}
@media only screen and (max-width: 767px){
	html{font-size: calc( 1000vw / 430vw );}
}
.guide .header{
    background-image: url(../image/header_bg_guide.png);
}