@charset "utf-8";
/* CSS Document */
.pc{display: inherit;}
.sp{display: none;}
@media screen and ( max-width:767px ){
	.pc{display: none;}
	.sp{display: inherit;}
}
html{font-size: 62.5%;}
body{
	font-size:1.6em;
	font-style: normal;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    color: #292929
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
@media (min-width: 768px) {
    body {
        min-width: 1024px;
    }
}
@media only screen and (max-width: 767px){
	html{font-size: calc( 1000vw / XXX );}
}

/* 共通クラス */
.vertical{
    writing-mode: vertical-rl;
    letter-spacing: 0.5rem;
}
/* トップページ */
.body_inner{
    position: relative;
    letter-spacing: 0.3rem;
    line-height: 2.4rem;
}

/* mv 動画 */
.mv_movie{
    width: 100%;
    height: 83rem;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.movie{
    width: 100%;
    height: 83rem;
    object-fit: cover;
}
/* mv */
.mv{
    background-image: url(../image/mv.png);
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 83rem;
    background-position: center;
    background-size: cover;
}
.mv_inner{
    height: 83rem;
}
.logo{
    
}
.mv_front{
    height: 45rem;
    text-align: center;
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #fff;
    text-shadow: 0 0 80px rgb(4 0 0 / 60%);
}
.mv_front .logo_white img{
    width: 25rem;
    height: auto;
    margin-right: 4rem;
}
.front_title{
    font-size: 3.8rem;
    letter-spacing: 1.5rem;
    line-height: 5.5rem;
    font-weight: 400;
    text-shadow: 0 0 8px rgb(0 0 0);
    margin: 3rem auto 10rem;
}
.front_title::after{
    content: '';
    position: absolute;
    width: 24rem;
    height: 0.1rem;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8rem;
}
.front_blur{
    --sample-color: 96, 2, 238;
    aspect-ratio: 1 / 1;
    background:rgba(0,0,0,0.23);
    border-radius: 50%;
    filter: blur(50px);
    width: min(100%, 52rem);
    position: absolute;
    margin-top: -31rem;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    margin: auto;
    height: 54rem;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    width: 0.5em;
    height: 0.5em;
    transform: translateX(-25%) rotate(45deg);
    margin-right: 1rem;
}
  
.arrow::before, .arrow::after {
    content: '';
    position: absolute;
    background: currentColor;
    border-radius: 0.1em;
}
  
.arrow::before {
    top: 0;
    left: 0;
    right: 0;
    height: 0.1em;
}
  
.arrow::after {
    top: 0;
    right: 0;
    bottom: 0;
    width: 0.1em;
}
.circle_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.circle_btn_text{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: -4rem;
}

/* コンテンツ */
.content_section{
    padding-bottom: 13rem;
}
.content_section h2{
    font-size: 3rem;
    font-weight: bold;
}

/* バナー */
.toppage .banner{
    width: 60%;
    min-width: 100rem;
    margin: 8rem auto 15rem;
    color: #fff;
}
.toppage .banner_img img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* ===================================== */
/* メインコンテンツ */
.main_content{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    white-space: nowrap;
}
/* mc1 */
.mc_1{

}
.mc_item_1{
    height: 74vh;
    min-height: 74rem;
    width: 48vh;
    min-width: 48rem;
}
.mc_img_1{
    background-image: url(../image/mc_1.png);
    background-size: cover;
    background-position: center;
    height: 100%;
}
/* 縦書き */
.vertical_text{
    bottom: 53rem;
    text-align: center;
    position: absolute;
    left: 50%;
}
.vertical_text p{
    margin-top: 1.5rem;
}
.text_line_v{
    border: solid 0.01rem #292929;
    transform: rotate(90deg);
    padding-top: 7rem;
}
/* mc文章 */
.mc_text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 12rem;
    position: relative;
}
.mc_title{
    font-size: 3.2rem !important;
    letter-spacing: 1rem;
    line-height: 5rem;
    margin-bottom: 4.5rem;
}
.mc_text .circle_btn{
    margin-top: 6rem;
    margin-bottom: 6.5rem;
}

/* ===================================== */
/* mc2 */
.mc_2{
    flex-direction: row-reverse;
    margin-top: 32rem;
}
.mc_item_2{
    height: 54rem;
    width: 50%;
    min-width: 55rem;
    position: absolute;
    right: 0;
}
.mc_img_2{
    background-image: url(../image/mc_2.png);
    background-size: cover;
    background-position: center;
    height: 100%;
}
.mc_2 .mc_text{
    margin-right: 60rem;
    margin-left: 0;
}
.horiz_text{
    bottom: 44rem;
    position: absolute;
    display: flex;
    align-items: center;
    left: -12rem;
}
.text_line_h{
    border: solid 0.01rem #292929;
    padding-left: 10rem;
    margin-right: 2rem;
}
.mc_2 .mc_text .circle_btn{
    margin-bottom: 1rem;
}
/* mc3 */
.mc_img_3{
    background-image: url(../image/mc_3.png);
    background-size: cover;
    background-position: center;
    height: 100%;
}
.mc_3{
    flex-direction: row-reverse;
    margin-top: 38rem;
}
.mc_item_3{
    height: 54rem;
    width: 50%;
    min-width: 55rem;
    position: absolute;
    left: 0;
}
.mc_3 .mc_text{
    margin-left: 60rem;
}

.mc_3 .mc_text .circle_btn {
    margin-bottom: -8.5rem;
}
.mc_3 .vertical_text{
    bottom: 44rem;
}

/* mc4 */
.mc_4{
    background-image: url(../image/mc_4-bg.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    margin-top: 43rem;
}
.mc_4 .mc_img_2{
    background-image: url(../image/mc_4-1.png);
}
.mc_4 .horiz_text{
    bottom: 34rem;
}

/* ロクシタンバナー */
.loccitane_banner{
    text-align: center;
    margin-top: 6rem;

}
.loccitane_banner h2{
    letter-spacing: 0.7rem;
    line-height: 4.5rem;
    margin-bottom: 2rem;

}
.loccitane_banner p{
    letter-spacing: 0.3rem;
    line-height: 2.5rem;
    margin-bottom: 4rem;

}
.loccitane_banner img{
    text-align: center;
    width: 70%;
    min-width: 100rem;
}

/* 特別プラン */
.plan_list{
    
}
.plan_list h2 {
    text-align: center;
    margin-bottom: 4.2rem;
}
.slider li {
    width: 40rem;
    height: 26rem;
    margin: 0 auto;
}
.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider li p{
    margin-top: 2rem;
}

/* お知らせ */
.news{
    display: flex;
}
.news dl{
    max-width: 76rem;
}
