@charset "utf-8";
/* CSS Document */
.pc{display: inherit;}
.sp{display: none;}
@media screen and ( max-width:767px ){
	.pc{display: none;}
	.sp{display: inherit;}
}
html{font-size: 62.5%;}
body{
	font-size:1.6em;
	font-style: normal;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    color: #292929
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
@media (min-width: 768px) {
    body {
        min-width: 1024px;
    }
}
@media only screen and (max-width: 767px){
	html{font-size: calc( 1000vw / 430vw );}
}

/* 共通クラス */
.vertical{
    writing-mode: vertical-rl;
    letter-spacing: 0.5rem;
}
.bold{
    font-weight: bold;
}
.multiply{
    mix-blend-mode: multiply; /* 乗算 */
}
.notscroll{
    position: absolute;
	inset: 0;
	overflow: auto;
}
/* トップページ */
.body_inner{
    position: relative;
    letter-spacing: 0.3rem;
    line-height: 2.6rem;
}

/* mv 動画 */
.mv_movie{
    width: 100%;
    height: 83rem;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.movie{
    width: 100%;
    height: 83rem;
    object-fit: cover;
}
/* ヘッダー */
.toppage .header{
    background-image: none;
}
/* mv */
.mv{
    background-image: url(../image/mv.png);
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 83rem;
    background-position: center;
    background-size: cover;
    color: #fff;
}
.mv_inner{
    height: 83rem;
}
.logo{
    
}
.mv_front{
    height: 45rem;
    text-align: center;
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-shadow: 0 0 80px rgb(4 0 0 / 60%);
}
.mv_front .logo_white img{
    width: 25rem;
    height: auto;
    margin-right: 4rem;
}
.front_title{
    font-size: 3.8rem;
    letter-spacing: 1.5rem;
    line-height: 5.5rem;
    font-weight: 400;
    text-shadow: 0 0 8px rgb(0 0 0);
    margin: 3rem auto 10rem;
}
.front_title::after{
    content: '';
    position: absolute;
    width: 24rem;
    height: 0.1rem;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8rem;
}
.front_blur{
    --sample-color: 96, 2, 238;
    aspect-ratio: 1 / 1;
    background:rgba(0,0,0,0.23);
    border-radius: 50%;
    filter: blur(50px);
    width: min(100%, 52rem);
    position: absolute;
    margin-top: -31rem;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    margin: auto;
    height: 54rem;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    width: 0.45em;
    height: 0.45em;
    transform: translateX(-25%) rotate(45deg);
    margin-right: 1rem;
}
  
.arrow::before, .arrow::after {
    content: '';
    position: absolute;
    background: currentColor;
    border-radius: 0.1em;
}
  
.arrow::before {
    top: 0;
    left: 0;
    right: 0;
    height: 0.1em;
}
  
.arrow::after {
    top: 0;
    right: 0;
    bottom: 0;
    width: 0.1em;
}
.circle_btn_top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.circle_btn_text{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: -4rem;
}
.mv_news{
    display: flex;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.3rem;
    position: absolute;
    bottom: 4.5rem;
    left: 6%;
    white-space: nowrap;
}
.mv_news h2{
    font-weight: bold;
}
.mv_news dt{
    float: left;
    letter-spacing: 0.15rem;
    font-weight: 400;
    margin: 0px 1.5rem 0 0.5rem;
}

/* コンテンツ */
.content_section{
    padding-bottom: 13rem;
}
.content_section h2{
    font-size: 3rem;
}

/* バナー */
.toppage .banner{
    width: 60%;
    min-width: 100rem;
    margin: 8rem auto 15rem;
    color: #fff;
}
.toppage .banner_img img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* ===================================== */
/* メインコンテンツ */
.main_content{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    white-space: nowrap;
}
/* mc1 */
.mc_1{

}
.mc_item_1{
    height: 74vh;
    min-height: 74rem;
    width: 48vh;
    min-width: 48rem;
}
.mc_img_1{
    background-image: url(../image/mc_1.png);
    background-size: cover;
    background-position: center;
    height: 100%;
}
/* 縦書き */
.vertical_text{
    bottom: 53rem;
    text-align: center;
    position: absolute;
    left: 50%;
    font-size: 2rem;
}
.toppage .vertical_text p{
    margin-top: 1.5rem;
    margin-left: 0;
    letter-spacing: 0.8rem;
}
.text_line_v{
    border: solid 0.01rem;
    transform: rotate(90deg);
    padding-top: 7rem;
}
/* mc文章 */
.mc_text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 12rem;
    position: relative;
}
.mc_title{
    font-size: 3.2rem !important;
    letter-spacing: 1rem;
    line-height: 5rem;
    margin-bottom: 4.5rem;
}
.mc_text .circle_btn_top{
    margin-top: 6rem;
    margin-bottom: 6.5rem;
}

/* ===================================== */
/* mc2 */
.mc_2{
    flex-direction: row-reverse;
    margin-top: 32rem;
}
.mc_item_2{
    height: 54rem;
    width: 50%;
    min-width: 55rem;
    position: absolute;
    right: 0;
}
.mc_img_2{
    background-image: url(../image/mc_2.png);
    background-size: cover;
    background-position: center;
    height: 100%;
}
.mc_2 .mc_text{
    margin-right: 60rem;
    margin-left: 0;
}
.horiz_text{
    bottom: 44rem;
    position: absolute;
    display: flex;
    align-items: center;
    left: -12rem;
    font-size: 2rem;
}
.text_line_h{
    border: solid 0.01rem #292929;
    padding-left: 10rem;
    margin-right: 2rem;
}
.mc_2 .mc_text .circle_btn_top{
    margin-bottom: 1rem;
}
/* mc3 */
.mc_img_3{
    background-image: url(../image/mc_3.png);
    background-size: cover;
    background-position: center;
    height: 100%;
}
.mc_3{
    flex-direction: row-reverse;
    margin-top: 38rem;
}
.mc_item_3{
    height: 54rem;
    width: 50%;
    min-width: 55rem;
    position: absolute;
    left: 0;
}
.mc_3 .mc_text{
    margin-left: 60rem;
}

.mc_3 .mc_text .circle_btn_top {
    margin-bottom: -8.5rem;
}
.mc_3 .vertical_text{
    bottom: 42rem;
}

/* mc4 */
.mc_4{
    background-image: url(../image/mc_4-bg.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    margin-top: 43rem;
}
.mc_4 .mc_img_2{
    background-image: url(../image/mc_4-1.png);
}
.mc_4 .horiz_text{
    bottom: 34rem;
}

/* ロクシタンバナー */
.loccitane_banner{
    text-align: center;
    margin-top: 6rem;

}
.loccitane_banner h2{
    letter-spacing: 0.7rem;
    line-height: 4.5rem;
    margin-bottom: 2rem;

}
.loccitane_banner p{
    letter-spacing: 0.3rem;
    line-height: 2.5rem;
    margin-bottom: 4rem;

}
.loccitane_banner img{
    text-align: center;
    width: 70%;
    min-width: 100rem;
}

/* 特別プラン */
.plan_list{
    
}
.plan_list h2 {
    text-align: center;
    margin-bottom: 4.2rem;
}
.slider li {
    width: 40rem;
    height: 26rem;
    margin: 0 auto;
}
.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider li p{
    margin-top: 2rem;
}

/* お知らせ */
.news{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 7rem;
}
.news h2{
    margin-right: 15rem;
}
.news dl{
    width: 82rem;
    border-top: 0.1rem solid;
}
.news dt{
    font-size: 1.5rem;
    margin-top: 3rem;
}
.news dd{
    border-bottom: 0.1rem solid;
    position: relative;
}
.news dd h2{
    font-size: 1.6rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    margin: 1rem 0;
    max-width: 60rem;
}
.news dd div p{
    font-size: 1.4rem;
    font-family: 'Noto Sans JP', sans-serif;
    max-width: 60rem;
    margin-bottom: 4rem;
}
.news dd a{
    position: absolute;
    right: 0;
    bottom: 55%;
    border-bottom: 0.1rem solid;
    font-size: 1.2rem;
    font-weight: bold;
}
.news .btn{
    padding: 1.3rem 2rem;
    border: 0.1rem solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 7rem;
    margin-right: 1000rem;
    margin-left: 961.7rem;
    white-space: nowrap;
    width: auto;
    height: auto;
}


/* 潤いの歓待 */
.hospitality_list h2{
    text-align: center;
}
.hospitality_list ul{
    color: #fff;
    margin-top: 5.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 120rem;
    margin: 5.5rem auto 0;
}
.hospitality_list li{
    width: 50rem;
    height: 50rem;
    position: relative;
    margin: 1.6rem;
}
.hospitality_list li img{
    width: 100%;
    height: 50rem;
    object-fit: cover;
}
.hospitality_list li div{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3.5rem;
    text-shadow: 0 0 12px rgb(0 0 0);
}
.hospitality_list li h2{
    text-align: left;
    margin-bottom: 1.3rem;
    font-weight: bold;
}
/* 心揺さぶる体験 */
.experience_list h2{
    text-align: center;
    margin-bottom: 4.2rem;
    line-height: 4.5rem;
    letter-spacing: 0.5rem;
}
.experience_list li{
    width: 66rem;
    height: 39rem;
    margin: 0 auto;
}
.experience_list img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.experience_list p{
    margin-top: 2rem;
}
/* 熊野観光のご案内 */
.kumano_circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 6rem;
}
.circle_img{
    width: 60rem;
    height: 60rem;
    margin-bottom: 6.5rem;
}
.circle_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.kumano_circle .title{
    margin-bottom: 6.5rem;
}
.kumano_circle .title img{
    width: 3.5rem;
}
.kumano_circle .title h2{
    letter-spacing: 1rem;
    margin: 3.6rem auto 2.6rem;
}
.kumano_circle p{
    line-height: 3.2rem;
}
.kumano_circle .circle_btn_top{
    margin-top: 6.5rem;
}
/* 日本書紀に遡る… */
.kumano_banner{
    background-image: url(../image/kumano_banner.png);
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 83rem;
    background-position: center;
    background-size: cover;

    color: #fff;
}
.kumano_banner .inner{
    width: 120rem;
    height: 83rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.kumano_banner .left{

}
.kumano_banner .left h2{
    font-size: 3.8rem;
    position: absolute;
    top: 30%;
    left: 10.5%;
    line-height: 7rem;
    text-shadow: 0rem 0rem 1rem #35526f;
}
.kumano_banner .left h2 span{
    margin-top: 16rem;
}
.kumano_banner .vertical_text{
    bottom: auto;
    left: 24%;
    top: 19%;
    text-shadow: 0rem 0rem 1rem #35526f;
}
.kumano_banner .text_line_v{
    padding-top: 5rem;
}
.kumano_banner .multiply{
    background-color: rgba(202,211,224,0.5);
    width: 45rem;
    height: 100%;
    position: absolute;
    top: 0;
}
.kumano_banner .right{
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
    bottom: 6rem;
}
.kumano_banner .right img{
    width: 19.5rem;
    margin-top: 6rem;
}
/* フォトスポット */
.photo_spot{
    text-align: center;
}
.photo_spot ul{
    display: flex;
    justify-content: center;
    width: 120rem;
    margin: 5.5rem auto 0;
}
.photo_spot li{
    width: 26rem;
    height: 36rem;
    margin: 0rem 2.5rem 0rem 2.5rem;
}
.photo_spot li img{
    width: 100%;
    height: 36rem;
    object-fit: cover;
}
.photo_spot li p{
    margin-top: 3rem;
}
/* インスタグラム */
.instagram{
    text-align: center;
    margin-top: 7rem;
}
.instagram h2{
    line-height: 5rem;
    letter-spacing: 1rem;
}
.instagram h2 span{
    font-size: 2rem;
}
.instagram ul{
    margin-top: 5.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80rem;
    margin: 2rem auto 0;
}
.instagram li{
    width: 23rem;
    height: 23rem;
    margin: 0.7rem;
}
.instagram li img{
    width: 100%;
    height: 23rem;
    object-fit: cover;
}
/* アクセスマップ */
.access_map h2{
    text-align: center;
    margin-bottom: 5rem;
}
.access_map .map_img{
    background-image: url(../image/access-map.png);
    width: 100%;
    height: 73rem;
    background-position: center;
    background-size: cover;
}
.access_map p{
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: flex-start;
    width: 78rem;
    margin: 6.7rem auto 0;
}



/* ハンバーガーメニュー */
/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
	top:0;
    right: -120%;
	width:100%;
    height: 100vh;/*ナビの高さ*/
	background:#fff;
    /*動き*/
	transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    z-index: 999;
}

/*リストのレイアウト設定*/
#g-nav .nv_inner{
    position: relative;
    width: 100%;
    height: 100vh;
}
#g-nav .nav_bg{
    background-image: url(../image/menu_bg.png);
    width: 33rem;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: fixed;
}
#g-nav .nav_access{
    position: absolute;
    top: 11%;
    left: 31%;
    color: #292929;
    font-size: 1.6rem;
}
#g-nav .nav_access img{
    width: 17rem;
    height: auto;
    margin-left: 2.5rem;
    margin-bottom: 2.5rem;
    mix-blend-mode: multiply;
}
#g-nav .nav_content{
    position: absolute;
    top: 13%;
    right: 10%;
    color: #292929;
    width: 50rem;
}
#g-nav .nav_content .flex{
    justify-content: space-between;
}
#g-nav .horiz_text{
    position: static;
    flex-wrap: wrap;
    width: 30rem;
}
#g-nav .nav_mc li{
    margin-bottom: 3rem;
}
#g-nav .text_line_h{
    padding-left: 2rem;
}
#g-nav .nav_mc h2{
    font-size: 2.2rem;
}
#g-nav .nav_mc p{
    font-size: 1.3rem;
    margin-left: 4.2rem;
    margin-top: 0.2rem;
}
#g-nav .nav_mc{

}
#g-nav .nav_sub{
    width: 16rem;
    font-size: 1.6rem;
}
#g-nav .nav_sub li{
    margin-bottom: 3rem;
}
#g-nav .nav_star{
    background-image: url(../image/menu_star.png);
    height: 10rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    color: #fff;
    position: relative;
}
#g-nav .nav_star h2{
    font-size: 2.4rem;
    line-height: 2.3rem;
    position: absolute;
    left: 4.5rem;
    top: 55%;
    transform: translateY(-50%);
}
#g-nav .nav_star h2 span{
    font-size: 1.3rem;
}
#g-nav .nav_star p{
    font-size: 1.3rem;
    position: absolute;
    right: 3rem;
    bottom: 2rem;
}
#g-nav .btn{
    border: 0.1rem solid;
    width: 47%;
    height: 6.8rem;
    margin-right: 0;
    margin-top: 3rem;
    font-size: 1.8rem;
    padding: 2rem 1rem 2rem 3rem;
}
#g-nav .nav_sns{
    font-family: 'Noto Sans JP', sans-serif;
    align-items: flex-end;
    text-align: center;
    width: 13rem;
    white-space: nowrap;
    letter-spacing: 0.1rem;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
}
#g-nav .nav_sns .insta_icon{
    margin-bottom: 0;
    margin-top: 1rem;
}
#g-nav .nav_sns .facebook_icon{
    margin-bottom: 0;
    margin-left: 2rem;
}
#g-nav .nav_sns .facebook_icon p{
    margin-top: 0.4rem;
}
#g-nav .nav_sns img{
    width: 4rem;
    height: auto;
}
#g-nav .nav_sns .nav_photo{
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    border-bottom:0.1rem solid #292929;
    margin-bottom: 2.8rem;
    margin-left: 7rem;
}
/*====
===== ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
    top: 4rem;
    right: 3rem;
	cursor: pointer;
    width: 6rem;
    height:6rem;
}
	
/*×に変化*/	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 0.2rem;
    border-radius: 2px;
	background-color: #fff;
    width: 50%;
}

.openbtn span:nth-of-type(1) {
	top:10px;	
}

.openbtn span:nth-of-type(2) {
	top:20px;
}

.openbtn span:nth-of-type(3) {
	top:30px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 50%;
    background-color: #ADADAD;	
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
    background-color: #ADADAD;	
}

.openbtn.active span:nth-of-type(3){
    top: 3rem;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 50%;
    background-color: #ADADAD;	
}