@charset "utf-8";
/* CSS Document */
.pc{display: inherit;}
.sp{display: none;}
@media screen and ( max-width:767px ){
	.pc{display: none;}
	.sp{display: inherit;}
}
html{font-size: 62.5%;}
body{
	font-size:1.6em;
	font-style: normal;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    color: #292929
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
@media (min-width: 768px) {
    body {
        min-width: 1024px;
    }
}
@media only screen and (max-width: 767px){
	html{font-size: calc( 1000vw / 430vw );}
}

/* ヘッダー */
.newspage .header{
    background-image: url(../image/header_tourism.png);
}

/* お知らせ */
.newspage .vertical{
    font-size: 3rem;
    letter-spacing: 1.5rem;
    margin-top: 4.5rem;
}
.newspage .news{
    margin-top: 10rem;
    margin-bottom: 20rem;
    flex-wrap: nowrap;
}
.newspage .news dl{
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
}
.newspage .detail{
    width: 82rem;
    border-top: 0.1rem solid;
    border-bottom: 0.1rem solid;
}
.newspage .detail_title{
    border-bottom: 0.1rem solid;
    margin-top: 2.5rem;
    padding-bottom: 2.8rem;
    font-weight: bold;
}
.newspage .detail_title p{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.newspage .detail_title h2{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.8rem;
    margin-right: 0;
}
.newspage .detail_inner{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.6rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
    letter-spacing: 0.2rem;
}
.newspage .title{
    display: flex;
    flex-direction: column;
}
.newspage_detail .vertical{
    margin-top: 0;
}
.newspage_detail .news a{
    display: flex;
    border-bottom: 0.1rem solid;
    align-items: center;
    margin: 7rem auto 0;
    width: fit-content;
}
.newspage_detail .news a .arrow{
    transform: translateX(-25%) rotate(-135deg);
}

/* ページネーション .Pagination */
.Pagination {
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    }
    .Pagination > * + * {
    margin-left: 0.5rem;
    }
    .Pagination-Item-Link, .prev.page-numbers, .next.page-numbers, .page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 2.5rem;
    height: 3.2rem;
    background: #fff;
    font-size: 1.4rem;
    transition: all 0.15s linear;
    }
    .Pagination-Item-Link-Icon {
    width: 1.3rem;
    }
    .Pagination-Item-Link.isActive, .page-numbers.current {
    pointer-events: none;
    background: #292929;
    color: #fff;
    padding-left: 0.25rem;
    }
    .Pagination-Item-Link:not(.isActive):hover, .page-numbers:not(.current):hover {
    background:  #292929;
    color: #fff;
    }
    .Pagination-Item-Link span, .page-numbers span{
        margin-left: 0.2rem;
    }

    @media screen and (max-width: 767px){
        .newspage .news{
            margin-top: 4rem;
            margin-bottom: 10rem;
        }
        .newspage .news h2{
            margin: 0px auto 4rem;
        }
        .newspage .vertical{
            font-size: 2.8rem;
        }
        .newspage .news dl{
            margin: 1.7rem auto;
        }
        .Pagination{
            min-width: 30rem;
            width: 80%;
            margin: 0 auto;
        }
        .newspage .detail{
            min-width: 30rem;
            width: 80%;
            margin: 0 auto;
        }
        .newspage .detail_title h2{
            margin-bottom: 0;
        }
    }