@charset "utf-8";
/* CSS Document */
.pc{display: inherit;}
.sp{display: none;}
@media screen and ( max-width:767px ){
	.pc{display: none;}
	.sp{display: inherit;}
}
html{font-size: 62.5%;}
body{
	font-size:1.6em;
	font-style: normal;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    color: #292929
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
@media (min-width: 768px) {
    body {
        min-width: 1024px;
    }
}
@media only screen and (max-width: 767px){
	html{font-size: calc( 1000vw / 430vw );}
}

.experience .header{
    background-image: url(../image/header_experience.png);
}
.experience .mc_text {
    height: 14rem;
}
.experience .horiz_text{
    bottom: auto;
    top: 4rem;
    font-size: 3rem;
}
.experience .mc_title {
    font-size: 1.8rem !important;
    letter-spacing: 0.5rem;
    margin-bottom: auto;
    margin-top: 6.5rem;
}
/* スライダー */
/*==================================================
スライダーのためのcss
===================================*/
.fv_slider {
    position:relative;
	z-index: 1;
	/*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
	height: 46rem;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    width: 100%;
    margin: 0 auto;
}
.slider-item img{
    width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    object-fit: cover;
}
/* スライダー上の文 */
.exp_fv{
    position: relative;
    max-width: 120rem;
    width: 70%;
    margin: 0 auto;
}
.exp_fv p{
    font-size: 2.6rem;
    background-color: #fff;
    position: absolute;
    letter-spacing: 0.6rem;
    line-height: 4rem;
    z-index: 2;
    bottom: 0;
    left: 0;
    padding: 2.5rem 2rem 4rem 2rem;
}

/* ボタン */
.experience .tourism_btn ul{
    width: 74rem;
}
.experience .tourism_btn li{
    width: auto;
    margin-left: 6rem;
}

/* 体験プラン */
.exp_list{
    margin-bottom: 15rem;
}
.exp_li_content{
    margin-top: 5rem;
    padding-top: 5rem;
}
.exp_list ul{
    display: flex;
    flex-wrap: wrap;
    margin: 8rem auto 0rem;
    max-width: 126rem;
}
.exp_list li{
    width: 38rem;
    margin: 0rem 2rem 8rem;
}
.exp_list ul img{
    height: 22rem;
    width: 100%;
    object-fit: cover;
}
.exp_list ul h2{
    font-size: 2rem;
    margin: 2rem 0 1.5rem;
    font-weight: bold;
}
.exp_list ul p{
    letter-spacing: 0.2rem;
}
.exp_list ul .btn{
    width: fit-content;
    margin-right: 0;
    border-bottom: 0.1rem solid;
    margin-top: 2rem;
}
.experience .title {
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content:center;
    letter-spacing: 0.7rem;
    line-height: 3rem;
}
.experience .title span{
    font-size: 3.6rem;
    line-height: 5rem;
}
.experience .title::before,
.experience .title::after {
    content: '';
    flex-grow: 0.1;/* 余白を分け与える */
    height: 0.1rem;
    background-color: #292929;
}
.experience .title::before {
    margin-right: 5rem;
}
.experience .title::after {
    margin-left: 5rem;
}
@media screen and (max-width: 1260px){
    .exp_list ul{
        max-width: 84rem;
    }
    .fv_slider {
        height: 35rem;
    }
}

@media screen and (max-width: 767px){
    .experience .mc_text{
        width: auto;
        margin-left:0;
    }
    .experience .horiz_text{
        font-size: 2rem;
        left: -8rem;
    }
    .experience .mc_title {
        margin-left: 4.2rem;
        font-size: 1.2rem !important;
        margin-top: 5.7rem;
    }

    .experience .title{
        margin-left: 0;
        line-height: 2.7rem;
        letter-spacing: 0.4rem;
    }
    .exp_list ul{
        width: 30rem;
        margin: 6rem auto;
    }
    .exp_list li{
        width: 30rem;
        margin: 0rem auto 7rem;
    }
    .experience .title span{
        font-size: 2.6rem;
    }
    .experience .title span{
        line-height: 3.5rem;
    }
    .experience .title::before {
        margin-right: 3rem;
    }
    .experience .title::after {
        margin-left: 3rem;
    }
}