@charset "utf-8";
/* CSS Document */
.pc{display: inherit !important;}
.sp{display: none !important;}
@media screen and ( max-width:767px ){
	.pc{display: none !important;}
	.sp{display: inherit !important;}
}
html{font-size: 62.5%;}
body{
	font-size:1.6em;
	font-style: normal;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    color: #292929
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
@media (min-width: 768px) {
    body {
        min-width: 1024px;
    }
}
@media only screen and (max-width: 767px){
	html{font-size: calc( 1000vw / 430vw );}
}

/*　WebP対応の場合　*/
.webp .mv{
    background-image: url(../image/webp/mv.webp);
}
/*　WebP非対応の場合　*/
.no-webp .mv{
    background-image: url(../image/mv.png);
}
.mv{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85vh;
    color: #fff;
    background-position: center;
    background-size: cover;
}

/*　WebP対応の場合　*/
.webp .restaurant .header{
    background-image: url(../image/webp/header_bg_oshokuji.webp);
    background-position: 80% 20%;
}
/*　WebP非対応の場合　*/
.no-webp .restaurant .header{
    background-image: url(../image/header_bg_oshokuji.png);
    background-position: 80% 20%;
}

/*　WebP対応の場合　*/
.webp .guest_room .header {
    background-image: url(../image/webp/header_guest_room.webp);
}
/*　WebP非対応の場合　*/
.no-webp .guest_room .header {
    background-image: url(../image/header_guest_room.png);
}

/*　WebP対応の場合　*/
.webp .pre_collab_stayplan .header {
    background-image: url(../image/webp/header_pre_collabo_stayplan.webp);
}
/*　WebP非対応の場合　*/
.no-webp.pre_collab_stayplan .header {
    background-image: url(../image/header_pre_collabo_stayplan.png);
}

/*　WebP対応の場合　*/
.webp .omotenashi .header{
    background-image: url(../image/webp/hospitality_header.webp);
}
/*　WebP非対応の場合　*/
.no-webp .omotenashi .header{
    background-image: url(../image/hospitality_header.png);
}

/*　WebP対応の場合　*/
.webp .guide .header{
    background-image: url(../image/webp/header_bg_guide.webp);
}
/*　WebP非対応の場合　*/
.no-webp .guide .header{
    background-image: url(../image/header_bg_guide.png);
}

/*　WebP対応の場合　*/
.webp .newspage .header{
    background-image: url(../image/webp/header_tourism.webp);
}
/*　WebP非対応の場合　*/
.no-webp .newspage .header{
    background-image: url(../image/header_tourism.png);
}

/*　WebP対応の場合　*/
.webp .tourism .header {
    background-image: url(../image/webp/header_tourism.webp);
}
/*　WebP非対応の場合　*/
.no-webp .tourism .header {
    background-image: url(../image/header_tourism.png);
}

/*　WebP対応の場合　*/
.webp .experience .header{
    background-image: url(../image/webp/header_experience.webp);
}
/*　WebP非対応の場合　*/
.no-webp .experience .header{
    background-image: url(../image/header_experience.png);
}

/*　WebP対応の場合　*/
.webp .stargazing .header{
    background-image: url(../image/webp/header_star.webp);
    background-position: center;
}
/*　WebP非対応の場合　*/
.no-webp .stargazing .header{
    background-image: url(../image/header_star.png);
    background-position: center;
}
/*　WebP対応の場合　露天風呂のご案内*/
.webp .bath .header{
    background-image: url(../image/webp/bath_mv.webp);
    background-position: center;
}
/*　WebP非対応の場合　*/
.no-webp .stargazing .header{
    background-image: url(../image/bath_mv.png);
    background-position: center;
}
/*　WebP対応の場合　露天風呂のご案内*/
.webp .reserve .header{
    background-image: url(../image/webp/reserve_header.webp);
    background-position: center;
}
/*　WebP非対応の場合　*/
.no-webp .reserve .header{
    background-image: url(../image/reserve_header.png);
    background-position: center;
}