@charset "utf-8";
/* CSS Document */
.pc{display: inherit;}
.sp{display: none;}
@media screen and ( max-width:767px ){
	.pc{display: none;}
	.sp{display: inherit;}
}
html{font-size: 62.5%;}
body{
	font-size:1.6em;
	font-style: normal;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    color: #292929
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
@media (min-width: 768px) {
    body {
        min-width: 1024px;
    }
}
@media only screen and (max-width: 767px){
	html{font-size: calc( 1000vw / 430vw );}
}
.guide .header{
    background-image: url(../image/header_bg_guide.png);
}
/* タイトル */
.guide .main_content .mc_text{
	margin-right: 0;
}
.guide .mc_text{
	/* margin-top: 7rem;
	margin-right: 6rem !important;
	left: 6rem; */
    display: block;
}
.guide .horiz_text{
	bottom: auto;
    font-size: 3rem;
    top: -3.5rem;
}
.guide .mc_title{
	font-size: 1.8rem !important;
	letter-spacing: 0.7rem;
	/* margin-bottom: 6rem; */
	margin-bottom: auto;
}
.guide .mc_2{
	margin-top: 4.5rem;
}
.guide .mc_2 .content_inner{
	position: relative;
	display: flex;
    margin: 0 auto;
    justify-content: space-between;
	flex-wrap: wrap;
	max-width: 148rem;
    width: 100%;
    padding: 0 12rem;
}
.guide .mc_text .inner h2{
	font-size: 2.4rem;
	margin-bottom: 3rem;
    font-size: 2.4rem;
    line-height: 4rem;
	letter-spacing: 0.6rem;
}

/* 施設のご案内 */
.guide .introduction{
	background-color: #F4F8F8;
	margin-top: 15rem;
	min-width: auto;
}
.guide .introduction_inner{
	max-width: 117rem;
	width: auto;
}
/* マップ */

.map{
	width: 70rem;
	height: auto;
	margin-top: -10rem;
    margin-left: -50rem;
}
.map img{
	width: 100%;
	height: auto;
	object-fit: cover;
}
.map .guide_line{
	font-size: 1.8rem;
	font-weight: bold;
	position: absolute;
	top: 3rem;
}
.map .guide_line p{
	margin-bottom: -0.5rem;
}
.map .guide_line img{
	width: 14rem;
}
.guide_attent{
	position: absolute;
	right: 13rem;
    bottom: 14rem;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.3rem;
}

/* モーダルウィンドウ */
/*モーダルウィンドウをはじめは非表示*/
.modal{
	display: none;
}
.modaal-container{
	color: #292929;
	box-shadow: 0 0px 16px rgb(0 0 0 / 17%);
	letter-spacing: 0.2rem;
	line-height: 2.6rem;
}
.modaal-container img{
	width: 33rem;
	height: 24rem;
	object-fit: cover;
}
.modaal-container h2{
    font-size: 1.8rem;
	font-weight: bold;
	margin: 2.7rem 0 1.5rem;
}
/*モーダルの横幅を変更したい場合*/
.modaal-container{
    width: 39rem;
}

.modaal-content-container{
	padding: 30px 30px 100px 30px;
}

/*モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
	background:#707070;	
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#292929;
}
.modaal-overlay{
	background: #fff !important;
}
/* 閉じるボタン */
.modaal-close{
	height: 5rem;
	width: 5rem;
	right: 2.5rem;
    top: 1rem;
	color: transparent;
}
.modaal-wrapper .modaal-close:hover{
	background-color: transparent;
}
.modaal-close:after, .modaal-close:before{
	height: 5rem;
	width: 0.3rem;
}

/* 施設リスト */
.guide .map_list_inner{
	padding-top: 24rem;
	padding-bottom: 16rem;
}
.guide .map_list h2{
	font-size: 2.5rem;
	margin-left: 4.4rem;
	margin-bottom: 5rem;
	font-weight: bold;
}
.guide .map_list{
	margin-top: 6rem;
}
.guide .map_list ul{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 0 auto;
}
.guide .map_list li{
	width: 33rem;
	margin: 0 3rem;
}
.guide .map_list img{
	width: 33rem;
	height: auto;
	object-fit: cover;
}
.guide .map_list li h2{
	font-size: 1.8rem;
	font-weight: bold;
	margin: 2.5rem 0 2rem;
	white-space: nowrap;
}
.guide .map_list li p{
	font-size: 1.5rem;
}
.guide .time.flex p:last-child{
	margin-left: 4rem;
}
.guide .time p:last-child{
	margin-left: 0;
}
.guide .mc_text .inner p{
	font-size: 1.4rem;

}

@media screen and (max-width: 1169px){
	.guide .introduction_inner{
		max-width: 78rem;
	}
	.map{
		width: 50rem;
		/* margin: 0 auto;
		margin-left: -4rem; */
		margin-top: 0rem;
	}
	.guide_attent{
		right: calc(50% - -6.6rem);
		bottom: 11rem;
	}
	.guide .introduction{
		margin-top: 12rem;
	}
}

@media screen and (max-width: 767px){
	.guide .mc_2{
		max-width: 68rem;
	}
	/* マップ */
	.guide .mc_2 .content_inner{
		flex-wrap: wrap;
		position: relative;
		padding: 0;
	}
	.map{
		width: 36rem;
		margin: 0 auto;
	}
	.map .guide_line{
		font-size: 1.6rem;
		top: 19.5rem;
		left: calc(50% - 16.8rem);
	}
	.map .guide_line p{
		margin-bottom: -1rem;
	}
	.map .guide_line img{
		width: 12rem;
	}
	.guide_attent{
		position: absolute;
		left: 4rem;
		bottom: -37rem;
		letter-spacing: 0.2rem;
		font-size: 1.2rem;
		right: auto;
	}
	/* モーダルウィンドウ */
	/*モーダルウィンドウをはじめは非表示*/
	.modaal-container img{
		width: 28rem;
		height: 20rem;
	}
	/*モーダルの横幅を変更したい場合*/
	.modaal-container{
		width: 34rem;
	}
	.modaal-inner-wrapper{
		padding: 0;
	}
	/* 閉じるボタン */
	.modaal-close{
		height: 3rem;
		width: 3rem;
		right: 3rem;
		top: 0.7rem;
		color: transparent;
	}
	.modaal-wrapper .modaal-close:hover{
		background-color: transparent;
	}
	.modaal-close:after, .modaal-close:before{
		height: 3rem;
		width: 0.3rem;
	}
	/* 施設リスト */
	.guide .map_list_inner{
		padding-bottom: 7rem;
	}
	.guide .map_list h2{
		width: 33rem;
		margin: 0rem auto 2rem;
	}
	.guide .map_list ul{
		justify-content: center;
	}
	.guide .map_list li{
		margin-bottom: 4rem;
	}
	.guide .horiz_text{
		font-size: 2rem;
		top: -1rem;
	}
	.guide .mc_title{
		font-size: 1.4rem !important;
		letter-spacing: 0.4rem;
	}
	.guide .mc_2 .mc_title{
		margin-top: 1rem;
		font-size: 1.4rem !important;
		margin-bottom: 2rem;
		margin-left: 3.8rem;
		letter-spacing: 0.2rem;
	}
	.guide .mc_text{
		margin-top: 0;
		margin-left: 4rem;
	}
	.guide .mc_text .inner h2{
		font-size: 2rem;
	}
	.guide .mc_text .inner p{
		position: absolute;
		bottom: -76rem;
	}
	.guide .introduction{
		margin-top: 50rem;
	}

}
@media screen and ( max-width:360px ){
	.map{
		width: 100%;
	}
	.map .guide_line{
		font-size: 1.1rem;
		left: calc(50% - 13.8rem);
	}
	.map .guide_line img{
		width: 9rem;
	}
	.map .guide_line p {
		margin-bottom: -1.8rem;
	}
	.guide .mc_text .inner p{
		margin: 0 auto;
		width: 90%;
		bottom: auto;
		top: 60rem;
	}
	.guide_attent{
		width: 90%;
		bottom: auto;
		top: 86rem;
		left: 2rem;
		white-space: break-spaces;
	}
	.guide .map_list li{
		width: 90%;
	}
	.guide .map_list h2{
		width: 80%;
	}
	.guide .map_list img{
		width: 100%;
	}
	.guide .map_list li h2{
		white-space: inherit;
		width: 100%;
	}

	.modaal-container{
		width: 90%;
	}
	.modaal-container img{
		width: 100%;
	}
	.guide .mc_text{
		margin-left: 2rem;
	}
}