@charset "utf-8";
/* CSS Document */
.pc{display: inherit !important;}
.sp{display: none !important;}
@media screen and ( max-width:767px ){
	.pc{display: none !important;}
	.sp{display: inherit !important;}
}
html{font-size: 62.5%;}
body{
	font-size:1.6em;
	font-style: normal;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    color: #292929
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
@media (min-width: 768px) {
    body {
        min-width: 1024px;
    }
}
@media only screen and (max-width: 767px){
	html{font-size: calc( 1000vw / 430vw );}
}

/* ローディング */
/* Loading背景画面設定　*/
#loader {
    /*fixedで全面に固定*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background:#fff;
    text-align:center;
    color:#fff;
}
    
/* Loading画像中央配置　*/
#loader_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
/* Loading アイコンの大きさ設定　*/
#loader_logo img {
    width:260px;
}
    
/* fadeUpをするアイコンの動き */
.fadeUp{
    animation-name: fadeUpAnime;
    animation-duration:1.5s;
    animation-fill-mode:forwards;
    opacity: 0;
}
    
@keyframes fadeUpAnime{
    from {
        opacity: 0;
        transform: translateY(2rem);
        -webkit-transform: translateY(2rem);
        -moz-transform: translateY(2rem);
        -ms-transform: translateY(2rem);
        -o-transform: translateY(2rem);
}
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
        z-index: -1;
    }
}

/* 読み込み完了後に「loaded」を付与する */
#loader.loaded {
    animation: fadeOut 3s forwards;
}

/* 共通クラス */
body img{
    border-radius: 0.2rem;
}
.vertical{
    writing-mode: vertical-rl;
    letter-spacing: 0.5rem;
}
.bold{
    font-weight: bold;
}
.multiply{
    mix-blend-mode: multiply; /* 乗算 */
}
.notscroll{
    position: absolute;
	inset: 0;
	overflow: auto;
}

.fadein {
    /* 最初は非表示 */
    opacity: 0;
    visibility: hidden;
    transform: translateY(5rem);
    transition: opacity 1.7s, visibility 1.7s, transform 1.7s;
}
/* フェードイン時に入るクラス */
.is-fadein {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.fv_fadein {
    /*最初は非表示*/opacity: 0;
    visibility: hidden;
    transform: translateY(3rem);
    transition: opacity 1.7s, visibility 1.7s, transform 1.7s;
    -webkit-transform: translateY(3rem);
    -moz-transform: translateY(3rem);
    -ms-transform: translateY(3rem);
    -o-transform: translateY(3rem);
}
/* フェードイン時に入るクラス */
.fv_is-fadein {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

/* 右側メニュー */
/* ボタン */
.btn{
    width: 15rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    margin-right:5rem;
}
/* 宿泊プラン一覧ボタン　客室情報ボタン */
.nav_btn{
    margin-top:4.6rem;
    position:absolute;
    right:11rem;
    letter-spacing: 0.1rem;
}
.nav_link{
    font-family: 'Noto Sans JP', sans-serif;
    margin-top:2.4rem ;
    line-height: 2.4rem;
    letter-spacing: 0.3rem;
    margin-left:11.5rem;
}
.nav_link p:last-child{
    padding:0 1.2rem;
}
/* ============================== */
.sns_menu{
    justify-content: end;
    position:fixed;
    right:0;
    bottom:2rem;
    z-index:998;
}
.sns_menu_inner{
    text-align: center;
    letter-spacing: normal;
    line-height: normal;
}
.insta_icon{
    margin-bottom:2.2rem;
    

}
.insta_icon img{
    mix-blend-mode: multiply; 
}
.insta_icon a{
    display:inline-block;
}
.insta_icon p{
margin-top:0.4rem;
line-height: 1.1rem;;
}
.facebook_icon{
    width:100%;
    margin:0 auto 2.4rem;
}

.facebook_icon a{
    display: inline-block;
}
.facebook_icon p{
    line-height: 1.1rem;
}
.page-top_reserve_btn{
    position:relative;
}
.page-top{
    position:absolute;
    width:5.3rem;
    height:5.3rem;
    background-color: #EAEAEA;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    right:14rem;
    bottom:0rem;
    cursor: pointer;
}
.page-top a{
    display:inline-block;
    height:5.3rem;
    width:5.3rem;
}
.page-top a:before{
    content:"";
    left: 2.2rem;
    width: 1rem;
    height: 1rem;
    top:2.3rem;
    border-top: 2px solid #707070;
    border-right: 2px solid #707070;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position:absolute;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
/* 宿泊予約ボタン */
.hotel_reserve_btn{
    width:10.1rem;
    box-shadow: 0px 0px 12px #00000029;
    z-index: 999;
    position: relative;
    cursor: pointer;
}
.hotel_reserve_btn p{
    line-height: 2.5rem;
    letter-spacing: 0.36rem;

}
.hotel_reserve_btn p:first-child{
    padding:4rem 0 1.1rem;
}
.hotel_reserve_btn p:last-child{
    padding-bottom:3rem;
    letter-spacing: 0.2rem;
}
.hotel_reserve img{
    width: 97rem;
    height: auto;
}

.hotel_reserve_inner{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 998;
    /*ナビのスタート位置と形状*/
	bottom: 2rem;
    right: -120%;
	width:97rem;
    height: auto;/*ナビの高さ*/
    /*動き*/
	transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
.hotel_reserve_inner.panelactive{
    right: 7rem;
}

.hotel_reserve_inner_sp{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 998;
    /*ナビのスタート位置と形状*/
	bottom: 0;
    left: -120%;
	width:43rem;
    height: auto;/*ナビの高さ*/
    /*動き*/
	transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
.hotel_reserve_inner_sp.panelactive{
    left: 8rem;
}
.hotel_reserve_inner_sp img{
    width: 42.5rem;
    height: auto;
}





/* トップページ */
.body_inner{
    position: relative;
    letter-spacing: 0.3rem;
    line-height: 2.6rem;
}

/* mv 動画 */
.mv_movie{
    width: 100%;
    height: 83rem;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.movie{
    width: 100%;
    height: 83rem;
    object-fit: cover;
}
/* ヘッダー */
.toppage .header{
    background-image: none;
}
/* mv */
.mv_inner{
    height: 83rem;
}
.logo{
    
}
.mv_front{
    height: 32rem;
    text-align: center;
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-shadow: 0 0 80px rgb(4 0 0 / 60%);
}
.mv_front .logo_white img{
    width: 25rem;
    height: auto;
    margin-right: 4rem;
}
.front_title{
    font-size: 3.8rem;
    letter-spacing: 1.5rem;
    line-height: 5.5rem;
    font-weight: 400;
    text-shadow: 0 0 8px rgb(0 0 0);
    margin: 3rem auto 10rem;
}
.front_title::after{
    content: '';
    position: absolute;
    width: 24rem;
    height: 0.1rem;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8rem;
}
.front_blur{
    --sample-color: 96, 2, 238;
    aspect-ratio: 1 / 1;
    background:rgba(0,0,0,0.23);
    border-radius: 50%;
    filter: blur(50px);
    width: min(100%, 52rem);
    position: absolute;
    margin-top: -31rem;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    margin: auto;
    height: 54rem;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    width: 0.45em;
    height: 0.45em;
    transform: translateX(-25%) rotate(45deg);
    margin-right: 1rem;
}
  
.arrow::before, .arrow::after {
    content: '';
    position: absolute;
    background: currentColor;
    border-radius: 0.1em;
}
  
.arrow::before {
    top: 0;
    left: 0;
    right: 0;
    height: 0.08em;
}
  
.arrow::after {
    top: 0;
    right: 0;
    bottom: 0;
    width: 0.08em;
}
.circle_btn_top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.circle_btn_text{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: -4rem;
}
.mv_news{
    display: flex;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.3rem;
    position: absolute;
    bottom: 4.5rem;
    left: 6%;
    white-space: nowrap;
}
.mv_news h2{
    font-weight: bold;
}
.mv_news dt{
    float: left;
    letter-spacing: 0.15rem;
    font-weight: 400;
    margin: 0px 1.5rem 0 0.5rem;
}

/* コンテンツ */
.content_section{
    padding-bottom: 13rem;
}
.content_section h2{
    font-size: 3rem;
}

/* バナー */
.toppage .banner{
    width: 60%;
    min-width: 100rem;
    margin: 8rem auto 15rem;
    color: #fff;
}
.toppage .banner_img img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* ===================================== */
.mc_img_1{
    background-position: center;
    background-size: cover;
}
.mc_img_2,.mc_img_3,.mc_img_4{
    background-position: center;
    background-size: cover;
}
/* メインコンテンツ */
.main_content{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    white-space: nowrap;
    margin-top: -15rem;
    padding-top: 15rem;
}
/* mc1 */
.mc_1{

}
.mc_item_1{
    height: 74rem;
    width: 47rem;
}
.mc_img_1 img{
    width: 100%;
}
/* 縦書き */
.vertical_text{
    bottom: 53rem;
    text-align: center;
    position: absolute;
    left: 50%;
    font-size: 2rem;
}
.toppage .vertical_text p{
    margin-top: 1.5rem;
    margin-left: 0;
    letter-spacing: 0.8rem;
}
.text_line_v{
    border: solid 0.01rem;
    transform: rotate(90deg);
    padding-top: 7rem;
}
/* mc文章 */
.mc_text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 12rem;
    position: relative;
}
.mc_title{
    font-size: 3.2rem !important;
    letter-spacing: 1rem;
    line-height: 5rem;
    margin-bottom: 4.5rem;
}
.mc_text .circle_btn_top{
    margin-top: 6rem;
    margin-bottom: 6.5rem;
}
.page_title{
    width: 100%;
    max-width: 148rem;
    margin: 0 auto;
    margin-top: 6.1rem;
    margin-bottom: 4.5rem;
}
.horiz_text_title{
    position: static !important;
    font-size: 3rem !important;
    letter-spacing: 0.4rem;
}
.mc_page_title{
    margin-left: 12rem;
    font-size: 1.8rem !important;
    letter-spacing: 0.5rem;
    margin-bottom: 0;
}

/* ===================================== */
/* mc2 */
.mc_2{
    flex-direction: row-reverse;
    margin-top: 18rem;
    padding-top: 17rem;
}
.mc_item_2{
    height: 54rem;
    width: 50%;
    min-width: 55rem;
    position: absolute;
    right: 0;
}
.mc_img_2 img{
    height: 54rem;
    width: 100%;
    object-fit: cover;
}
.mc_2 .mc_text{
    margin-right: 60rem;
    margin-left: 0;
}
.horiz_text{
    bottom: 44rem;
    position: absolute;
    display: flex;
    align-items: center;
    left: -12rem;
    font-size: 2rem;
}
.text_line_h{
    border: solid 0.01rem #292929;
    padding-left: 10rem;
    margin-right: 2rem;
}
.mc_2 .mc_text .circle_btn_top{
    margin-bottom: 1rem;
}
/* mc3 */
.mc_3{
    flex-direction: row-reverse;
    margin-top: 16rem;
    padding-top: 30rem;
}
.mc_item_3{
    height: 54rem;
    width: 50%;
    min-width: 55rem;
    position: absolute;
    left: 0;
}
.mc_item_3 img{
    height: 54rem;
    width: 100%;
    object-fit: cover;
}
.mc_3 .mc_text{
    margin-left: 60rem;
}

.mc_3 .mc_text .circle_btn_top {
    margin-bottom: -8.5rem;
}
.mc_3 .vertical_text{
    bottom: 42rem;
}

/* mc4 */
.mc_4{
    background-image: url(../image/mc_4-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    margin-top: 35rem;
    padding-top: 13rem;
    background-position-x: calc(50% - 36rem);
}
.mc_4 .mc_img_4 img{
    height: 54rem;
    width: 100%;
    object-fit: cover;
}
.mc_4 .horiz_text{
    bottom: 34rem;
}

/* ロクシタンバナー */
.loccitane_banner{
    text-align: center;
    margin-top: 6rem;

}
.loccitane_banner h2{
    letter-spacing: 0.7rem;
    line-height: 4.5rem;
    margin-bottom: 2rem;

}
.loccitane_banner p{
    letter-spacing: 0.3rem;
    line-height: 2.5rem;
    margin-bottom: 4rem;

}
.loccitane_banner img{
    text-align: center;
    width: 70%;
    min-width: 100rem;
}

/* 特別プラン */
.plan_list h2 {
    text-align: center;
    margin-bottom: 4.2rem;
    font-size: 3rem;
}
.slick li {
    width: 40rem !important;
    margin: 0 4rem ;
    position: inherit;
    /* left: calc(50vW - 200px); */
}

.slick li img {
    width: 100%;
    height: 26.3rem;
    object-fit: cover;
    
}
.slick li p{
    font-size: 1.6rem;
    margin-top: 2rem;
    font-weight: bold;
}

/* お知らせ */
.news{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.news_inner{
    display:flex;
    flex-wrap: nowrap;
}
.news h2{
    margin-right: 15rem;
}
.news dl{
    width: 82rem;
    border-top: 0.1rem solid;
}
.news dt{
    font-size: 1.5rem;
    margin-top: 3rem;
}
.news dd{
    border-bottom: 0.1rem solid;
    position: relative;
}
.news dd h2 a{
    font-size: 1.6rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    margin: 1rem 0;
    max-width: 60rem;
    position: static;
    border-bottom: none;
}
.news dd div h2{
    margin-bottom: 1rem;
}
.news dd div p{
    font-size: 1.4rem;
    font-family: 'Noto Sans JP', sans-serif;
    max-width: 60rem;
    margin-bottom: 4rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.news dd a{
    position: absolute;
    right: 0;
    bottom: 55%;
    border-bottom: 0.1rem solid;
    font-size: 1.2rem;
    font-weight: bold;
}
.news .btn{
    padding: 1.3rem 2rem;
    border: 0.1rem solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 7rem;
    margin-right: 1000rem;
    margin-left: 961.7rem;
    white-space: nowrap;
    width: auto;
    height: auto;
}

/* 潤いの歓待 */
.hospitality_list h2{
    text-align: center;
}
.hospitality_list ul{
    color: #fff;
    margin-top: 5.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 120rem;
    width: 100%;
    margin: 5.5rem auto 0;
}
.hospitality_list li{
    width: 50rem;
    height: 50rem;
    position: relative;
    margin: 1.6rem;
}
.hospitality_list li img{
    width: 100%;
    height: 50rem;
    object-fit: cover;
}
.hospitality_list li div{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3.5rem;
    text-shadow: 0 0 12px rgb(0 0 0);
}
.hospitality_list li h2{
    text-align: left;
    margin-bottom: 1.3rem;
    font-weight: bold;
}
/* 心揺さぶる体験 */
.experience_list{
    margin-bottom: -12rem;
}
.experience_list h2{
    text-align: center;
    margin-bottom: 4.2rem;
    line-height: 4.5rem;
    letter-spacing: 0.5rem;
}
.experience_list ul{
}
.experience_list li{
    width: 66rem !important;
    height: auto;
    margin: 0 4rem;
    /* position: inherit;
    left: calc(50vw - 46rem); */
}
.experience_list li img{
    width: 100%;
    height: 39rem !important;
    object-fit: cover;
}
/* 文字 */
.experience_list li p{
    font-size: 1.5rem;
    margin: 3rem auto 0;
}

/* 矢印 ドットナビゲーション */
/*矢印の設定*/
.slick-arrow {
    display: block;
    position: absolute;
    bottom: auto;
    margin: 0px calc(50vw - 29rem);
    padding: 0 !important;
    width: 7.2rem !important;
    height: 7.2rem !important;
    color: #292929 !important;
    z-index: 1;
    transition: opacity 0.5s;
    z-index: 1;
    background-color: #fff !important;
    border-radius: 50%;
}
.slick-arrow:hover {
    opacity: 0.7;
    background-color: #fff;
}
.experience_list .slick-arrow{
    top: 20rem !important;
}

/* 共通設定 */

.slick-next::before,
.slick-next::after,
.slick-prev::before,
.slick-prev::after {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto !important;
    content: "" !important;
    vertical-align: middle;
}
.slick-next::after,
.slick-prev::after {
    width: 10px;
    height: 10px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    margin: 2rem 1.8rem;
}

/* next */

.slick-next {
    right: -9rem !important
}
.slick-next::after {
    right: 3.2rem;
    transform: rotate(45deg);
}

/* prev */

.slick-prev {
    left: -9rem !important
}
.slick-prev::after {
    left: 3.2rem;
    transform: rotate(-135deg);
}

/*ドットナビゲーションの設定*/

.slick_exp-dots {
    text-align:center;
    margin: 6rem auto 0;
}

.slick_exp-dots li {
    display:inline-block;
    margin: 0 -31rem;
    height: 0rem;
}

.slick_exp-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
    margin: 0 auto;
}

.slick_exp-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}
/* 熊野観光のご案内 */
.kumano_circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 6rem;
}
.circle_img{
    width: 60rem;
    height: 60rem;
    margin-bottom: 6.5rem;
    clip-path: circle(30rem at center);
}
.circle_img img{
    width: 100%;
    height: 60rem;
    object-fit: cover;
}
.kumano_circle .title{
    margin-bottom: 6.5rem;
}
.kumano_circle .title img{
    width: 3.5rem;
}
.kumano_circle .title h2{
    letter-spacing: 1rem;
    margin: 3.6rem auto 2.6rem;
}
.kumano_circle p{
    line-height: 3.2rem;
}
.kumano_circle .circle_btn_top{
    margin-top: 6.5rem;
}
/* 日本書紀に遡る… */
.kumano_banner{
    position: relative;
    color: #fff;
    width: 100%;
    height: 69rem;
    object-fit: cover;
}
.kumano_banner .parallax img{
    width: 100%;
    height: 69rem;
    object-fit: cover;
}
.kumano_banner .inner{
    width: 100%;
    max-width: 120rem;
    height: 69rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.kumano_banner .left{

}
.kumano_banner .left h2{
    font-size: 3.8rem;
    position: absolute;
    top: 30%;
    left: 10.5%;
    line-height: 7rem;
    text-shadow: 0rem 0rem 1rem #35526f;
}
.kumano_banner .left h2 span{
    margin-top: 16rem;
}
.kumano_banner .vertical_text{
    bottom: auto;
    left: 24%;
    top: 19%;
    text-shadow: 0rem 0rem 1rem #35526f;
}
.kumano_banner .text_line_v{
    padding-top: 5rem;
}
.kumano_banner .multiply{
    background-color: rgba(202,211,224,0.5);
    width: 45rem;
    height: 100%;
    position: absolute;
    top: 0;
}
.kumano_banner .right{
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
    bottom: 6rem;
}
.kumano_banner .right img{
    width: 19.5rem;
    margin-top: 4rem;
}
/* フォトスポット */
.photo_spot{
    text-align: center;
    padding-top: 5rem;
    margin-top: -5rem;
}
.photo_spot ul{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5.5rem auto 0;
}
.photo_spot li{
    width: 26rem;
    height: 36rem;
    margin: 0rem 2.5rem 0rem 2.5rem;
}
.photo_spot li img{
    width: 100%;
    height: 36rem;
    object-fit: cover;
}
.photo_spot li p{
    margin-top: 3rem;
}
/* インスタグラム */
.instagram{
    text-align: center;
    margin-top: 7rem;
}
.instagram h2{
    line-height: 5rem;
    letter-spacing: 1rem;
}
.instagram h2 span{
    font-size: 2rem;
}
.instagram_wrap{
    width: 80rem;
    margin: 0 auto;
}
.instagram ul{
    margin-top: 5.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 74rem;
    margin: 2rem auto 0;
}
.instagram li{
    width: 23rem;
    height: 23rem;
    margin: 0.7rem;
}
.instagram li img{
    width: 100%;
    height: 23rem;
    object-fit: cover;
}
/* アクセスマップ */
.access_map h2{
    text-align: center;
    margin-bottom: 5rem;
    padding-top: 5rem;
    margin-top: -5rem;
}
.googlemap{
    width: 100%;
    height: 73rem;
}
.googlemap iframe{
    width: 100%;
    height: 73rem;
}
.access_map p{
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: flex-start;
    width: 78rem;
    margin: 6.7rem auto 0;
}
/* .googlemap  iframe{
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
} 
.googlemap  iframe:hover{
    filter: grayscale(0%);
    filter: hue-rotate(180deg);
}  */



/* ハンバーガーメニュー */
/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 998;
    /*ナビのスタート位置と形状*/
	top:0;
    right: -120%;
	width:100%;
    height: 100%;/*ナビの高さ*/
	background:#fff;
    /*動き*/
	transition: all 0.6s;
    animation-name: fadein;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100%;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;

}
#g-nav.panelactive #g-nav-list{
    animation-name:fadeInAnime;
    animation-duration:1.5s;
    animation-fill-mode:forwards;
    opacity:0;
}
@keyframes fadeInAnime{
    0% {
      opacity: 0;
    }
    40% {
        opacity: 0;
      }
    100% {
      opacity: 1;
    }
  }

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    z-index: 999;
}

/*リストのレイアウト設定*/
#g-nav .nv_inner{
    position: relative;
    width: 100%;
    height: 100vh;
}
#g-nav .nav_bg{
    background-image: url(../image/menu_bg.png);
    width: 33rem;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: fixed;
}
#g-nav .nav_access{
    position: absolute;
    top: 10rem;
    left: 41rem;
    color: #292929;
    font-size: 1.6rem;
}
#g-nav .nav_access img{
    width: 15rem;
    height: auto;
    margin-left: 2.5rem;
    margin-bottom: 2.5rem;
    mix-blend-mode: multiply;
}
#g-nav .nav_content{
    position: absolute;
    top: 12rem;
    left: 74rem;
    color: #292929;
    width: 38%;
    min-width: 44rem;
    max-width: 53rem;
}
#g-nav .nav_content .flex{
    justify-content: space-between;
}
#g-nav .horiz_text{
    position: static;
    flex-wrap: wrap;
    width: 28rem;
}
#g-nav .nav_mc li{
    margin-bottom: 3rem;
}
#g-nav .text_line_h{
    padding-left: 2rem;
}
#g-nav .nav_mc h2{
    font-size: 2.2rem;
}
#g-nav .nav_mc p{
    font-size: 1.3rem;
    margin-left: 4.2rem;
    margin-top: 0.2rem;
}
#g-nav .nav_mc{

}
#g-nav .nav_sub{
    width: 16rem;
    font-size: 1.6rem;
}
#g-nav .nav_sub li{
    margin-bottom: 3rem;
}
#g-nav .nav_star{
    background-image: url(../image/menu_star.png);
    height: 8.3rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    color: #fff;
    position: relative;
}
#g-nav .nav_star h2{
    font-size: 2.4rem;
    line-height: 2.3rem;
    position: absolute;
    left: 4.5rem;
    top: 55%;
    transform: translateY(-50%);
}
#g-nav .nav_star h2 span{
    font-size: 1.3rem;
}
#g-nav .nav_star p{
    font-size: 1.3rem;
    position: absolute;
    right: 3rem;
    bottom: 1rem;
}
#g-nav .btn{
    border: 0.1rem solid;
    width: 47%;
    height: 6.8rem;
    margin-right: 0;
    margin-top: 3rem;
    font-size: 1.8rem;
    padding: 2rem 1rem 2rem 3rem;
}
#g-nav .nav_sns{
    font-family: 'Noto Sans JP', sans-serif;
    align-items: flex-end;
    text-align: center;
    width: 13rem;
    white-space: nowrap;
    letter-spacing: 0.1rem;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
}
#g-nav .nav_sns .insta_icon{
    margin-bottom: 0;
    margin-top: 1rem;
}
#g-nav .nav_sns .facebook_icon{
    margin-bottom: 0;
    margin-left: 2rem;
}
#g-nav .nav_sns .facebook_icon p{
    margin-top: 0.4rem;
}
#g-nav .nav_sns img{
    width: 4rem;
    height: auto;
}
#g-nav .nav_sns .nav_photo{
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    border-bottom:0.1rem solid #292929;
    margin-bottom: 2.8rem;
    margin-left: 7rem;
}
#g-nav .nav_content .flex .flex_inner{
    display: flex;
    align-items: flex-end;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/*====
===== ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
    z-index: 999;/*ボタンを最前面に*/
    top: 5rem;
    right: 5rem;
	cursor: pointer;
    width: 4rem;
    height:3rem;
    padding: 0rem;
    mix-blend-mode: difference;
}
	
/*×に変化*/	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    height: 0.2rem;
    border-radius: 2px;
	background-color: #fff;
    width: 100%;
}

.openbtn span:nth-of-type(1) {
	top:0.2rem;	
    background-color: #000;
}

.openbtn span:nth-of-type(2) {
	top:56%;
    background-color: #000;
}

.openbtn span:nth-of-type(3) {
	top:102%;
    background-color: #000;
}
.openbtn span:nth-of-type(4) {
	top:0;	
}

.openbtn span:nth-of-type(5) {
	top:50%;
}

.openbtn span:nth-of-type(6) {
	top:94%;
}

.openbtn.active span:nth-of-type(1) {
    top: 1rem;
    transform: translateY(5px) rotate(-45deg);
	opacity: 0;
}
.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}
.openbtn.active span:nth-of-type(3) {
    top: 2rem;
    transform: translateY(-5px) rotate(45deg);
	opacity: 0;
}
.openbtn.active span:nth-of-type(4) {
    top: 1rem;
    transform: translateY(5px) rotate(-45deg);
    width: 100%;
    background-color: #ADADAD;
}

.openbtn.active span:nth-of-type(5) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(6){
    top: 2rem;
    transform: translateY(-5px) rotate(45deg);
    width: 100%;
    background-color: #ADADAD;
}

/* ヘッダー */
.toppage .header{
    padding: 0;
}
.toppage .logo_icon{
    width: 16rem;
    margin-left: 9rem;
}
    /* ハンバーガーメニュー */
/*========= ナビゲーションのためのCSS ===============*/
@media screen and ( max-width:1260px ){
    #g-nav .nav_access{
        font-size: 1.4rem;
    }
    #g-nav .nav_access img{
        width: 12rem;
    }
    #g-nav .nav_content{
        left: 68rem;
    }
}
@media screen and ( max-width:1130px ){
    #g-nav .nav_access{
        left: 28rem;
        top: 5rem;
    }
    #g-nav .nav_access p{
        line-height: 2rem;
        margin-left: 3rem;
        position: absolute;
        top: 94rem;
        width: 20rem;
        padding-bottom: 10rem;
    }
    #g-nav .nav_content{
        width: 44rem;
        left: 30rem;
        top: 22rem;
    }
    #g-nav .nav_bg{
        width: 25rem;
    }
}
@media screen and ( max-width:767px ){
.openbtn{
    top: 3rem;
    right: 3rem;
}
#g-nav .nav_bg{
    width: 8rem;
}
#g-nav .nav_content{
    width: 24rem;
    top: 17rem;
    left: 11rem;
    min-width: auto;
}
#g-nav .nav_access p{
    margin-left: 0;
    top: auto;
}
#g-nav .nav_inner{
    position: static;
}
#g-nav .nav_access{
    white-space: nowrap;
    top: 128rem;
    bottom: auto;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    padding-bottom: 10rem;
    line-height: 2rem;
    left: 11rem;
}
#g-nav .nav_access img{
    position: absolute;
    top: -124.5rem;
    width: 11rem;
    margin-left: 4rem;
}
#g-nav .nav_content .flex{
    flex-wrap: wrap;
}
#g-nav .nav_mc h2{
    font-size: 1.9rem;
    letter-spacing: 0rem;
}
#g-nav .nav_mc p{
    margin-top: 0;
    font-size: 1.1rem;
}
#g-nav .nav_sub li{
    margin-bottom: 2rem;
}
#g-nav .nav_sub{
    margin-bottom: 2rem;
    letter-spacing: 0.2rem;
}
#g-nav .nav_star h2{
    font-size: 2rem;
    left: 1.5rem;
    transform: none;
    top: 1.5rem;
    line-height: 1.8rem;
}
#g-nav .nav_star h2 span{
    font-size: 1.1rem;
}
#g-nav .nav_star p{
    font-size: 1.1rem;
    right: 1rem;
    bottom: 0.4rem;
    text-shadow: 0 0 5px rgb(0 0 0);
}
#g-nav .btn{
    width: 100%;
    margin-top: 2rem;
    font-size: 1.6rem;
}
#g-nav .nav_sns{
    width: auto;
    margin-top: 3rem;
}
#g-nav .horiz_text{
    width: 25rem;
}
#g-nav .nav_sns .nav_photo{
    margin-left: 0;
    margin-top: 3rem;
}
}
@media screen and ( max-width:1126px ){
    .page_title{
        margin-left: 0 !important;
    }
    .mc_text{
        margin-left: 5rem;
    }
    .mc_item_1{
        width: 42rem;
    }
    .main_content .mc_title{
        font-size: 2.8rem !important;
        letter-spacing: 0.5rem;
        line-height: 4.5rem;
    }
    .mc_item_2{
        min-width: auto;
    }
    .mc_2 .mc_text{
        margin-right: 48rem;
    }
    .mc_item_3{
        min-width: auto;
    }
    .news dl{
        width: 69rem;
    }
    .news dd div p{
        max-width: 57rem;
    }
    .news .vertical{
        margin-right: 5rem;
    }
    .kumano_banner .left{
        position: relative;
    }
    .kumano_banner .vertical_text{
        left: 28rem;
    }
    .kumano_banner .left h2{
        left: 12rem;
    }
    .access_map p{
        width: 66rem;
    }
    /* フッター */
    .white_btn{
        margin-left: 0 !important;
        margin-top: 2rem;
    }
    .btn_box{
        flex-wrap: wrap;
        justify-content: space-between;
        width: 50rem;
        margin-top: 0 !important;
    }
    .each_page{
        width: 51rem !important;
        font-size: 1.4rem;
    }
}

@media screen and ( max-width:1003px ){
    .toppage .banner{
        min-width: 76rem;
    }
    .loccitane_banner img{
        min-width: 76rem;
    }
    .mc_text{
        margin-left: 5rem;
        letter-spacing: 0.1rem;
        font-size: 1.3rem;
    }
    .mc_item_1{
        width: 42rem;
    }
    .mc_img_1 img{
        height: 65rem;
        object-fit: cover;
    }
    .main_content .mc_title{
        font-size: 2.5rem !important;
        letter-spacing: 0.5rem;
        line-height: 4.5rem;
    }
    .mc_item_2{
        min-width: auto;
    }
    .mc_2 .mc_text{
        margin-right: 40rem !important;
    }
    .mc_3 .mc_text{
        margin-left: 40rem;
    }
}

@media screen and ( max-width:767px ){
    .toppage .logo_icon{
        margin-left: 0;
    }
    .toppage .logo_icon img{
        width: 10rem;
    }
    .content_section {
        padding-bottom: 12rem;
    }
    .content_section h2{
        font-size: 2.8rem;
        line-height: 4rem;
    }
    /* mv */
    .mv_front{
        height: 30rem;
    }
    .mv_front .logo_white img{
        width: 20.5rem;
        margin-right: 2.5rem;
    }
    .front_title{
        font-size: 2.8rem;
        letter-spacing: 1rem;
        line-height: 4.5rem;
        margin: 2.5rem auto 0;
    }
    .front_title::after{
        width: 20rem;
        margin-top: 6.5rem;
    }
    .mv_news{
        white-space: inherit;
        letter-spacing: 0.1rem;
        min-width: 30rem;
        width: 80%;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        bottom: 12%;
    }
    .mv_news h2{
        white-space: nowrap;
        float: left;
    }
    .mv_news dd{
        float: left;
    }
    /* バナー */
    .toppage .banner{
        width: 36rem;
        min-width: 36rem;
        margin: 4rem auto 0rem;
    }
    /* メインコンテンツ */
    .page_title{
        margin-top: 3rem !important;
        margin-bottom: 2rem !important;
    }
    .mc_title.mc_page_title{
        margin-top: 0 !important;
        line-height: 2.8rem;
        margin-left: 4.3rem;
        font-size: 1.2rem !important;
    }
    .horiz_text_title{
        font-size: 2rem !important;
    }
    .horiz_text_title .text_line_h{
        padding-left: 2rem;
    }
    .main_content{
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: -8rem;
        padding-top: 8rem;
    }
    .main_content.mc_1{
        align-items: flex-start;
    }
    .mc_item_1{
        width: 30rem;
        height: 48rem;
    }
    .mc_img_1 img{
        height: auto;
    }
    .mc_text{
        margin: 0 auto;
        letter-spacing: 0.1rem;
        line-height: 2.6rem;
        width: 30rem;
    }
    .main_content .mc_title{
        font-size: 2.6rem !important;
        margin-bottom: 3.5rem;
        margin-top: 4rem;
    }
    .vertical_text{
        font-size: 2.2rem;
        left:auto;
        bottom: auto;
        right: -4%;
        top: -49rem;
        text-align: center;
        width: 2.7rem;
    }
    .text_line_v{
    }
    .mc_text .circle_btn_top{
        margin-top: 4rem;
        margin-bottom: 0;
    }
    .mc_2{
        margin-top: 10rem;
        padding-top: 1rem;
    }
    .mc_item_2{
        height: 49rem;
        width: 33rem;
        min-width: 35rem;
        position: static;
    }
    .mc_img_2 img,.mc_item_3 img,.mc_img_4 img{
        height: 50rem !important;
    }
    .mc_2 .mc_title{
        margin-top: 10rem;
    }
    .mc_2 .mc_text{
        margin: 0 auto;
        margin-right: auto !important;
        width: 100%;
    }
    .mc_2_inner{
        width: 30rem;
        margin: 0 auto;
    }
    .horiz_text{
        bottom: auto;
        top: 4rem;
        left: -2rem;
    }
    .mc_3{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 9rem;
        padding-top: 2rem;
    }
    .mc_item_3{
        height: 49rem;
        width: 30rem;
        min-width: 30rem;
        position: static;
    }
    .mc_3 .mc_text{
        margin: 2rem auto 0;
    }
    .mc_3 .vertical_text{
        bottom: auto;
        top: -47rem;
    }
    .mc_3 .mc_title{
        letter-spacing: 0.5rem;
    }
    .mc_3 .mc_text .circle_btn_top{
        margin-bottom: 0;
    }
    .mc_4{
        background-image: none;
        padding: 0;
        margin-top: 10rem;
    }
    .mc_4 .mc_title{
        font-size: 3.2rem !important;
    }
    .mc_4 .mc_text{
        background-image: url(../image/mc_4-bg.png);
        padding: 0rem 5.5rem;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .mc_4 .horiz_text{
        left: -1rem;
    }
    .mc_4_inner{
        width: 30rem;
        margin: 0 auto;
    }
    /* ロクシタンバナー */
    .loccitane_banner{
        margin-top: 0;
    }
    .loccitane_banner img{
        width: 33rem;
        min-width: 35rem;
    }
    /* 特別プラン */
    .plan_list{
        margin-bottom: -19rem;
    }
    .plan_list h2 {
        text-align: center;
        margin-bottom: 4.2rem;
        font-size: 2.8rem;
    }
    .slick li {
        width: 30rem !important;
        margin: 0 auto 5rem;
    }
    .slick li img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
        
    }
    /* お知らせ */
    .news{
        margin-top: 14rem;
        flex-direction: column;
        align-content: center;
    }
    .news_inner{
        flex-direction: column;
        align-items: center
    }
    .news h2{
        margin: 0 auto 5rem;
        writing-mode: inherit;
    }
    .news .vertical{
        margin-right: auto;
    }
    .news dl{
        min-width: 30rem;
        width: 80%;
    }
    .news dd{
        padding-bottom: 4rem;
    }
    .news dd div h2{
        margin-top: 1rem;
        margin-bottom: 2rem !important;
        line-height: 2.6rem;
    }
    .news dd div p{
        margin-bottom: 3rem;
    }
    .news dd a{
        position: inherit;
    }
    .news dd a p{
        border-bottom: 0.1rem solid #292929;
        width: fit-content;
    }
    .news .btn{
        margin: 6rem auto 0;
    }
    /* 潤いの歓待 */
    .hospitality_list ul{
        flex-direction: column;
        margin: 3rem auto 0;
        width: 100%;
    }
    .hospitality_list li{
        width: 35rem;
        height: 35rem;
        margin: 1.3rem auto;
    }
    .hospitality_list li img{
        height: 35rem;
    }
    .hospitality_list li div{
        padding: 3rem;
    }
    /* 心揺さぶる体験 */
    .experience_list{
        margin-bottom: -18rem;
        margin-top: -2rem;
    }
    .experience_list li{
        width: 29rem !important;
        height: auto;
        margin: 0 1rem;
    }
    .experience_list li img{
        height: 17rem !important;
    }
    .experience_list li p{
        margin-top: 2.3rem;
        letter-spacing: 0.2rem;
    }
    .slick_exp-dots li{
        margin: 0 -16rem !important;
        height: 0;
    }
    .slick_exp-dots{
        margin: 3rem auto 0;
        display: flex;
        width: 50%;
        justify-content: center;
    }

    /* 矢印 ドットナビゲーション */
    /*矢印の設定*/
    .slick-arrow {
        margin: 0px calc(50vw - 29rem);
        width: 3.2rem !important;
        height: 3.2rem !important;
    }
    .slick-arrow:hover {
        opacity: 0.7;
        background-color: #fff;
    }
    .experience_list .slick-arrow{
        top: 9rem !important;
    }

    /* 共通設定 */

    .slick-next::before,
    .slick-next::after,
    .slick-prev::before,
    .slick-prev::after {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto !important;
        content: "" !important;
        vertical-align: middle;
    }
    .slick-next::after,
    .slick-prev::after {
        width: 5px;
        height: 5px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        margin: 2rem 1.8rem;
    }

    /* next */

    .slick-next {
        right: 13rem !important;
    }
    .slick-next::after {
        right: 1.5rem;
        transform: rotate(45deg);
    }

    /* prev */

    .slick-prev {
        left: 13rem !important;
    }
    .slick-prev::after {
        left: 1.5rem;
        transform: rotate(-135deg);
    }
    
    /* 観光のご案内 */
    .kumano_circle{
        margin-top: 10rem;
    }
    .kumano_circle .title h2{
        line-height: 4rem;
        margin: 2rem auto 3.5rem;
    }
    .kumano_circle .title{
        margin-bottom: 4rem;
        margin-left: 0;
    }
    .kumano_circle p{
        font-size: 1.6rem !important;
    }
    .circle_img {
        width: 30rem;
        height: 30rem;
        margin-bottom: 4rem;
        clip-path: circle(15rem at center);
    }
    .circle_img img{
        height: 30rem;
    }
    /* 熊野バナー */
    .kumano_banner{
        height: 79rem;
    }
    .kumano_banner .inner{
        width: 100%;
        height: 79rem;
        justify-content: center;
    }
    .kumano_banner .left{
        position: relative;
        width:16rem;
    }
    .kumano_banner .vertical_text{
        left: auto;
        right: 0;
        top: 8rem;
    }
    .kumano_banner .vertical_text p{
        font-size: 1.6rem;
    }
    .kumano_banner .left h2{
        line-height: 6rem;
        left: 0;
        top: 12rem;
    }
    .kumano_banner .right{
        font-size: 1.5rem;
        text-align: center;
        align-items: center;
        right: auto;
        bottom: 10rem;
    }
    /* フォトスポット */
    .photo_spot ul{
        flex-wrap: wrap;
        width: 30rem;
        margin: 4rem auto 0;
    }
    .photo_spot li{
        width: 13rem;
        height: 20rem;
        margin: 0rem 1rem 10rem 1rem;
    }
    .photo_spot li img{
        height: 20rem;
    }
    .photo_spot li p{
        margin-top: 1rem;
        letter-spacing: 0.2rem;
    }
    /* インスタグラム */
    .instagram{
        margin-top: -8rem;
    }
    .instagram_wrap{
        width: 32rem;
        margin: 0 auto;
    }
    .instagram ul{
        width: 32rem;
        margin: 1rem auto 0;
    }
    .instagram li{
        width: 10rem;
        height: 10rem;margin: 0.3rem;
    }
    .instagram li img{
        height: 10rem;
    }
    /* アクセスマップ */
    .access_map .googlemap{
        width: 100%;
        height: 53rem;
    }
    .access_map .googlemap iframe{
        width: 100%;
        height: 53rem;
    }
    .access_map h2{
        margin-bottom: 3rem;
    }
    .access_map p{
        width: 30rem;
        margin: 4rem auto 0;
        display: block;
    }
    /* フッター */
    .each_page{
        width: 100% !important;
    }
}

@media screen and ( max-width:360px ){
    .toppage.mv_news{
        min-width: auto;
    }
    .toppage .banner{
        width: 100%;
        min-width: auto;
    }
    .toppage h2,.toppage p{
        white-space: break-spaces;
        word-break: break-all;
    }
    .toppage .cs_mc br{
        display: none;
    }
    .toppage .mc_text{
        width: 90%;
    }
    .toppage .mc_item_1,.mc_item_3{
        width: 70%;
        min-width: auto;
    }
    .toppage .mc_img_1 img{
        height: 48rem;
    }
    .toppage .mc_item_2{
        width: 100%;
        min-width: auto;
    }
    .toppage .mc_2_inner{
        width: 90%;
    }
    .toppage .mc_4_inner{
        width: 100%;
    }
    .toppage .mc_4 .mc_text{
        padding: 0 1rem;
    }
    .toppage .horiz_text{
        left: -11rem !important;
    }
    .toppage .loccitane_banner img{
        width: 100%;
        min-width: auto;
    }
    .toppage .slick li{
        width: 100% !important;
    }
    .toppage .news dl{
        min-width: auto;
    }
    .toppage .news .btn{
        width: 80%;
        white-space: inherit;
    }
    .toppage .hospitality_list li{
        width: 100%;
        height: auto;
    }
    .toppage .slick-next {
        right: 50vw !important;
    }
    .toppage .slick-next::after {
        right: 1.5rem;
        transform: rotate(45deg);
    }
    /* prev */

    .toppage .slick-prev {
        left: 50vw !important;
    }
    .toppage .slick-prev::after {
        left: 1.5rem;
        transform: rotate(-135deg);
    }
    .toppage .circle_img img{
        height: 30rem;
        clip-path: circle(30% at center);
    }
    .toppage .circle_img{
        width: 100%;
        height: auto;
    }
    .toppage .photo_spot ul{
        width: auto;
    }
    .toppage .instagram ul{
        width: 50%;
    }
    .toppage .access_map p{
        width: 80%;
        word-break: break-all;
    }
    
}